<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UAtestSuit" parallel="false">
  
  	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
	 <test name="APICall1" preserve-order="true">
		<classes>
			<class name="Test.APITest" />
		</classes>
	</test>
</suite> <!-- Suite -->
